.abt-benefits h3 {
    float: left;
    font-size: 36px;
    line-height: 46px;
    color: #000;
}
.abt-student-img {
    float: left;
    width: 52%;
    position: relative;
    transition: all 0.5s ease 0s;
}
.abt-student-img .student-img {
    left: 30px;
    top: -25px;
}
.abt-student-img img {
    position: absolute;
    width: 250px;
    height: 275px;
    object-fit: cover;
    z-index: 2;
    border-radius: 2px;
    filter: grayscale(0.2);
    transition: all 0.4s ease 0s;
}
.abt-student-img .student-img:hover {
    transform: translateX(-10px);
}
.abt-student-img .student-img1:hover {
    transform: translateX(10px);
}
.abt-student-img .student-img2:hover {
    transform: translateX(-10px);
}
.abt-student-img .student-img1 {
    right: -265px;
    top: 70px;
    width: 290px;
    height: 430px;
}
.abt-student-img .student-img2 {
    bottom: -557px;
    left: 30px;
}
.abt-benefits ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.abt-benefits li {
    float: left;
    width: 50%;
    position: relative;
    padding: 10px 0px;
}
.abt-benefits h4 {
    float: left;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
}
.abt-benefits h4::before {
    position: absolute;
    content: "";
    left: 0px;
    width: 8px;
    height: 1.8px;
    background: rgb(60, 61, 220);
}
.abt-benefits h4::after {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    left: -10px;
}
.abt-benefits h4::after {
    position: absolute;
    content: "";
    background: rgb(60, 61, 220);
}
.abt-student-img .back-shape {
    position: absolute;
    top: 78px;  
    right: -3px;
    background: rgb(253, 126, 20);
    width: 80px;
    height: 80px;
    border-radius: 15px;
    z-index: 1;
}
.abt-student-img .back-shape1 {
    position: absolute;
    top: -88px;
    left: -34px;
    background: url(../Images/2.png) 0% 0% / cover;
    width: 130px;
    height: 130px;
    filter: contrast(0.3);
    animation: 4s linear 0s infinite normal none running rotate;
}
.rotate-shapes span {
    bottom: -16px;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 100px;
    background: rgb(255, 152, 0);
    animation: 10s linear 0s infinite normal none running rotate;
    border-radius: 5px;
    z-index: 1;
}
.about-us::after {
    position: absolute;
    content: "";
    background: url(../Images/bouce.png) 0% 0% / cover;
    animation: 11s linear 0s infinite alternate none running animationFramesThree;
    width: 40px;
    height: 57px;
    top: 10%;
    left: 30%;
}
@keyframes animationFramesThree {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        transform: translate(100px, -100px) rotate(360deg);
    }
    40% {
        transform: translate(-60px, 100px) rotate(0deg);
    }
    60% {
        transform: translate(40px, 60px) rotate(-360deg);
    }
    80% {
        transform: translate(-40px, 60px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}